* {
padding: 0;
margin: 0;
}


body {
     font-family: 'Montserrat', sans-serif;  

}


p {
	line-height: 1.4em;
	font-weight: normal;
	font-size: 18px;
}


.divhaut {
	background-color: rgb(78, 154, 229);
	background-size: 100% 100%;
	width: 100%;
	height: 15%;
    position: fixed;
	top: 0;
	z-index: 100;
	text-align: center;
}

nav {
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 200;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #335a99;
}


.fermeButon {
	color: #fff;
	font-size: 50px;
	margin: 0;
	position: absolute;
	top: 10px;
	right: 50px;
	cursor: pointer;
}

.nav-icon {
	margin: 1em;
	width: 40px;
	position: fixed;
	z-index: 100;
	top: 10px;
	right: 30px;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
	background-color: #fff;
	border-radius: 3px;
	content: '';
	display: block;
	height: 5px;
	margin: 7px 0;
	transition: all .2s ease-in-out;
	
  }

  .nav-icon:hover:before {
	transform: translateY(12px) rotate(135deg);
  }
  
  .nav-icon:hover:after {
	transform: translateY(-12px) rotate(-135deg);
  }
  
  .nav-icon:hover div {
	transform: scale(0);
  }

.navMenu{
	flex-flow: column wrap; /* flex-flow = flex-direction + flex-wrap*/
}


.navMenu li {
	list-style: none;
}


.navMenu li a {
	color: #fff;
	text-decoration: none;
	font-size: 55px;
	display: inline-block;
	padding: 15px 50px;
	text-transform: uppercase;
	border-bottom: 1px solid #fc3c3c;
	transition: 0.2 ease all;
}


.navMenu li:last-child a{
	border-bottom: none;
}

.navMenu li:hover a{
	background-color: #ff0000;
}

#banniere1 {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	width:1920px;
	height: 100vh;
	margin-left: -300px;
	
}
#banniere {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}

.page1 {
	background-image: url(../images/imagefond11.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 855px;
}
.page11 {
	background-image: url(../images/imagefond11.jpg);
	background-size: cover;
	background-attachment: fixed;
	
}


.page2 {
	background-image: url(../images/imagefond212.jpg);
	background-size: cover;
	height: 100%;
	 background-attachment: fixed;
}


.page3 {
	background-image: url(../images/imagefond3.jpg);
	background-size: cover;
	width: auto;
	padding-bottom: 10px;
}


.page4 {
	background-image: url(../images/imagedefond.jpg);
	background-size: cover;
	width: auto;
	margin-top: -10px;
}



.page5 {
	background-image: url(../images/imagedefond1.jpg);
	height: 100vh;
	background-size: 100% 100%;
}

h1{
	
	text-align: center;
	font-size: 80px;
	font-weight: 700;	
}

h2 {
	margin-bottom: 40px;
    font-size: 55px;
	text-align: center;

}


.titreVideo {
	margin-top: 8%;
}


.logo {
	position: absolute;
	top: 20px;
	left: 40px;
	width: 50px;
	position: fixed;
	z-index: 100;
}


#banniere .enSavoirPlus {
	background-color: rgb(78, 154, 229);
	padding: 17px 65px;
	font-size: 26px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: 45px;
	text-transform: uppercase;
	opacity: 0;
	border-radius: 5px;
}
#enSavoirPlus{ 
	transition: transform .3s;
}
	
#enSavoirPlus:hover {
	transform: scale(1.25);
}

.titredescription {
	margin-top: 225px;
	padding-right: 40%;
}

.description {
	
	direction: ltr;
	height: 400px;
	font-family: 'Roboto Condensed', sans-serif;


}
.scrollbar{
	overflow: auto;
	direction: rtl;
	height: 400px;
	margin-left: 155px;
	padding-left: 10px;
	padding-right: 45%;
	margin-top: 25px;
}
.scrollbar::-webkit-scrollbar {
	width: 8px;
  }

::-webkit-scrollbar {
    border: 5px; 
}

 ::-webkit-scrollbar-track-piece {
	background: #f1f1f1;
	border-radius: 5px;
 } 
  
  
  ::-webkit-scrollbar-thumb {
	background: rgb(78, 154, 229);
	border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 100, 146);
  }

.mentionlegaletext {
	padding-left: 250px;
	padding-right: 250px;
	margin-top: 150px;
	font-family: 'Caladea', serif;
	overflow: auto;
}





.accu {
    margin-left: 15%;
}

.act {
	margin-left: 5%;
}

.men {
	margin-left: 3%;
}

.video1 {
	margin-top: 8%;
	margin-left: 210px;
	width: 73%;
	height: 554px;
	margin-bottom: 100px;
}


.row{
	display: flex;
	color: #000000;
	font-family: 'Roboto Condensed', sans-serif;
}

.a2019 {
	margin-top: 50px;
	margin-left: 250px;
    width: 250px;
	background-color: rgba(26, 95, 163, 0.72);
	border-radius: 10px;
	padding: 10px 10px;
}


.a2017 {
	margin-top: 50px;
	margin-left: 80px;
	width: 250px;
	background-color: rgba(26, 95, 163, 0.72);
	border-radius: 10px;
	padding: 10px 10px;
}


.a2015 {
	margin-top: 50px;
	margin-left: 80px;
	width: 250px;
	background-color: rgba(26, 95, 163, 0.72);
	border-radius: 10px;
	padding: 10px 10px;
}


.a2011 { 
	margin-top: 50px;
	margin-left: 80px;
	width: 250px;
	background-color: rgba(26, 95, 163, 0.89);
	border-radius: 10px;
	padding: 10px 10px;
}

#texte{
	display: none;
}	


#texte1{
	display: none;
}	


#texte2{
	display: none;
}	


#contactez {
	color: #223645;
	margin-top: 5%;
	text-align: center;
	font-size: 38px;
}

#contactezhr {
	margin-top: -2%;
	margin-bottom: -7%;
	width: 250px;
	height: 2px;
	background-color: #223645;
	color: #223645;
	border: #223645;
}

#divpage4 {
	padding: 100px 0 0 0;
}


#nom {
	border-radius: 4px;
	border: 1px dashed #223645;
}

#telephone {
	border-radius: 4px;
	border: 1px dashed #223645;
}

#email {
	border-radius: 4px;
	border: 1px dashed #223645;
}

#message {
	height: 80px;
	border-radius: 4px;
	border: 1px dashed #223645;
	width: 730px;
}

.buttonenvoyer {
	background-color: rgba(239, 80, 80, 0.92);
 	border-radius: 10px;
 	color: rgb(255, 255, 255);
 	margin: 2% 45%;
 	padding: 20px 10px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 17px;
	width: 100px;
}


h3 {
	font-size: 40px;
}


@media screen and (max-width:1000px){
	#boutonapropos, .boutonapropos{
		display: none;
	}
	
	.divhaut {
		display: none;
	}
	.boutonbas {
		display: none;
	}
	.video1 {
		margin-top: 3%;
		margin-left: 14%;
	}

	#contactez {
		margin-left: -10%;
	}

	#contactezhr {
		margin-left: -10%;
	}
}

@media screen and (max-width:1230px){
	.accu {
		margin-right: -3%;
	}
	.men {
		margin-right: -3%;
	}
}

@media screen and (max-width:1180px){
	.accu {
		margin-left: 4%;
	}
}






.boutonapropos {
	background-color: #3670aa;
	padding: 17px 27px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	position: relative;
	top: 40px;
	text-transform: uppercase;
	border-radius: 5px;
}


.slideshow-container {
  width: 23%;
    position:absolute;
	top: 315px;
	right: 10%;
	margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


input:invalid{
	border-color: #900;
	background-color: #FDD;
  }
  
  input:focus:invalid {
	outline: none;
  }
  
  /* Voici la mise en forme pour les erreurs */
  .error {
	width  : 100%;
	padding: 0;
   
	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;
   
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  .error.active {
	padding: 0.3em;
  }



  /**
 *
 * FOOTER
 *
 **/ 
.footer {
    min-height: 300px;  
    background-color: rgba(33, 73, 130, 0.92);  
    padding-top: 20px;
    text-align: center;
    color: seashell;
}


.logoFb {
    filter: grayscale(100%);
    height: 100px;
}

.fb {
	margin-top: 30px;
	margin-left: 30%;
	float: left;
}

.textfb {
	font-weight: 500;	
    color: aliceblue;
}

.logoInsta {
    height: 100px;
    filter: invert(100%);
}

.insta {
	margin-top: 30px;
	margin-left: 20%;
	float: left;
}

.textinsta {
	font-weight: 500;
    text-decoration: none;
    color: aliceblue;}
